$mdc-theme-primary: #fcd116;
$mdc-theme-secondary: #003893;
$mdc-theme-on-primary: #000000;
$mdc-theme-on-secondary: #ffffff;
$mdc-typography-font-family: unquote("Roboto,Rubik, Open Sans, -apple-syphonstem, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;");

$mota-theme-primary-light: #ffff58;
$mota-theme-primary-dark: #c7a000;
$mota-theme-secondary-light: #4d61c4;
$mota-theme-secondary-dark: #001464;

@import "./normalize.css";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
@import "@material/data-table/mdc-data-table";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $mdc-typography-font-family;
}

.mdc-top-app-bar__title {
    font-size: 1rem;
}

.no-js body,
.js body {
    background-image: url('../img/basico/colombia-bogota-flavia-carpio.jpg');
}

.no-js body.credits--glass-building,
.js body.credits--glass-building {
    background-image: url('../img/basico/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
}

.no-js body.credits--cocora-valley,
.js body.credits--cocora-valley {
    background-image: url('../img/basico/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
}

.no-js body.credits--colombia-medelllin,
.js body.credits--colombia-medelllin {
    background-image: url('../img/basico/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
}

.no-js body.credits--medellin-milo,
.js body.credits--medellin-milo {
    background-image: url('../img/basico/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
}

.no-js body.credits--monserrate-jorge-gardner,
.js body.credits--monserrate-jorge-gardner {
    background-image: url('../img/basico/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
}

/* ## Credits
--------------------------------------------- */

body.credits::after {
    display: block;
    padding: 1rem;
    background-color: #000;
    bottom: 0;
    z-index: 8;
    margin: 1rem auto;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: auto;
    max-width: 360px;
    color: #fff;
    text-align: center;
}

body.credits.credits--flavia-carpio-01::after {
    content: "Fotografia por Flavia Carpo (via Unsplash)";
}

body.credits.credits--glass-building::after {
    content: "Fotografia por Joel Filipe (via Unsplash)";
}

body.credits.credits--cocora-valley::after {
    content: "Fotografia por Fernanda Fierro (via Unsplash)";
}

body.credits.credits--colombia-medelllin::after {
    content: "Fotografia por Joel Duncan (via Unsplash)";
}

body.credits.credits--medellin-milo::after {
    content: "Fotografia por Milo Ezgeer (via Unsplash)";
}

body.credits.credits--monserrate-jorge-gardner::after {
    content: "Fotografia por Jorge Gardner (via Unsplash)";
}

.mdc-card--free-content {
    padding: 16px;
}

.mdc-card--margin--1rem {
    margin: 1rem;
}

.mdc-card--margin--2rem {
    margin: 2rem;
}

.mdc-card--margin--4rem {
    margin: 4rem;
}

.recommendations.mdc-card,
.legal-obligations.mdc-card {
    margin: 2rem 0;
}


/* ## Skip Links
--------------------------------------------- */

.skip-link {
    margin: 0;
}

.skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000;
    /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.inactive {
    display: none;
}

/* ## Main content
--------------------------------------------- */

main,
main.mdc-layout-grid {
    padding-top: 88px;
}

.mota-theme-primary-light-bg {
    background-color: $mota-theme-primary-light;
    color: $mdc-theme-on-primary;
}

.mota-theme-primary-dark-bg {
    background-color: $mota-theme-primary-dark;
    color: $mdc-theme-on-primary;
}

.mota-theme-secondary-light-bg {
    background-color: $mota-theme-secondary-light;
    color: $mdc-theme-on-secondary;
}

.mota-theme-secondary-dark-bg {
    background-color: $mota-theme-secondary-dark;
    color: $mdc-theme-on-secondary;
}

/* ## Forms and Forms Elements (input, textarea, etc)
--------------------------------------------- */


input {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}


/* ## Evaluate Form
--------------------------------------------- */

section[aria-labelledby="evaluate-header"]>p,
section[aria-labelledby="evaluate-header"]>form {
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem 0;
}

section[aria-labelledby="evaluate-header"] input[type="submit"] {
    width: 100%;
    margin: 1rem 0;
    color: #000000;
}

input#evaluate-url {
    padding: 1rem;
}


/* ## Results
--------------------------------------------- */

#results-summary-error {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 600;
}

meter {
    width: 100%;
    height: 24px;
    height: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Webkit based browsers */

meter[value^="0"]::-webkit-meter-optimum-value,
meter[value^="0"]::-webkit-meter-suboptimum-value,
meter[value^="0"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value^="1"]::-webkit-meter-optimum-value,
meter[value^="1"]::-webkit-meter-suboptimum-value,
meter[value^="1"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value^="2"]::-webkit-meter-optimum-value,
meter[value^="2"]::-webkit-meter-suboptimum-value,
meter[value^="2"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="3"]::-webkit-meter-optimum-value,
meter[value^="3"]::-webkit-meter-suboptimum-value,
meter[value^="3"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="4"]::-webkit-meter-optimum-value,
meter[value^="4"]::-webkit-meter-suboptimum-value,
meter[value^="4"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="5"]::-webkit-meter-optimum-value,
meter[value^="5"]::-webkit-meter-suboptimum-value,
meter[value^="5"]::-webkit-meter-even-less-good-value {
    background: yellow;
}

meter[value^="6"]::-webkit-meter-optimum-value,
meter[value^="6"]::-webkit-meter-suboptimum-value,
meter[value^="6"]::-webkit-meter-even-less-good-value {
    background: yellow;
}

meter[value^="7"]::-webkit-meter-optimum-value,
meter[value^="7"]::-webkit-meter-suboptimum-value,
meter[value^="7"]::-webkit-meter-even-less-good-value {
    background: yellow;
}

meter[value^="8"]::-webkit-meter-optimum-value,
meter[value^="8"]::-webkit-meter-suboptimum-value,
meter[value^="8"]::-webkit-meter-even-less-good-value {
    background: yellow;
}

meter[value^="9"]::-webkit-meter-optimum-value,
meter[value^="9"]::-webkit-meter-suboptimum-value {
    background: green;
}

meter[value="100"]::-webkit-meter-optimum-value,
meter[value="100"]::-webkit-meter-suboptimum-value {
    background: rgb(0, 80, 0);
}

meter[value="1"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-suboptimum-value,
meter[value="1"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="2"]::-webkit-meter-optimum-value,
meter[value="2"]::-webkit-meter-suboptimum-value,
meter[value="2"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="3"]::-webkit-meter-optimum-value,
meter[value="3"]::-webkit-meter-suboptimum-value,
meter[value="3"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="4"]::-webkit-meter-optimum-value,
meter[value="4"]::-webkit-meter-suboptimum-value,
meter[value="4"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="5"]::-webkit-meter-optimum-value,
meter[value="5"]::-webkit-meter-suboptimum-value,
meter[value="5"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="6"]::-webkit-meter-optimum-value,
meter[value="6"]::-webkit-meter-suboptimum-value,
meter[value="6"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="7"]::-webkit-meter-optimum-value,
meter[value="7"]::-webkit-meter-suboptimum-value,
meter[value="7"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="8"]::-webkit-meter-optimum-value,
meter[value="8"]::-webkit-meter-suboptimum-value,
meter[value="8"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value="9"]::-webkit-meter-optimum-value,
meter[value="9"]::-webkit-meter-suboptimum-value,
meter[value="9"]::-webkit-meter-even-less-good-value {
    background: red;
}

meter[value^="0"]::-moz-meter-bar {
    background: red;
}

meter[valueˆ="1"]::-moz-meter-bar {
    background: red;
}

meter[value^="2"]::-moz-meter-bar {
    background: orange;
}

meter[value^="3"]::-moz-meter-bar {
    background: orange;
}

meter[value^="4"]::-moz-meter-bar {
    background: orange;
}

meter[value^="5"]::-moz-meter-bar,
meter[value^="6"]::-moz-meter-bar,
meter[value^="7"]::-moz-meter-bar,
meter[value^="8"]::-moz-meter-bar {
    background: yellow;
}

meter[value^="9"]::-moz-meter-bar {
    background: green;
}

meter[value="100"]::-moz-meter-bar {
    background: rgb(0, 80, 0);
}

meter[value="1"]::-moz-meter-bar {
    background: red;
}

meter[value="2"]::-moz-meter-bar {
    background: red;
}

meter[value="3"]::-moz-meter-bar {
    background: red;
}

meter[value="4"]::-moz-meter-bar {
    background: red;
}

meter[value="5"]::-moz-meter-bar {
    background: red;
}

meter[value="6"]::-moz-meter-bar {
    background: red;
}

meter[value="7"]::-moz-meter-bar {
    background: red;
}

meter[value="8"]::-moz-meter-bar {
    background: red;
}

meter[value="9"]::-moz-meter-bar {
    background: red;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

/* ## Small Smartphones only
--------------------------------------------- */
@media only screen and (max-width: 640px) {
    .hide-on-small {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
}
/* ## Tablet
--------------------------------------------- */
@media only screen and (min-width: 640px) {

    .mdc-top-app-bar__title {
        font-size: 1.25rem;
    }

    main {
        max-width: 90%;
    }
}

/* ## Tablets + Small Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-height: 880px) and (orientation : portrait), only screen and (min-width: 880px) {
    .js body {
        background-image: url('../img/1024/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1024/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/1024/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/1024/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/1024/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/1024/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }

}

/* ## Small Desktops and Laptops on
--------------------------------------------- */
@media only screen and (min-width: 880px) {

}

/* ## Medium Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1024px) {
    main {
        max-width: 80%;
    }

}

/* ## Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .js body {
        background-image: url('../img/1280/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1280/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/1280/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/1280/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/1280/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/1280/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }

    main {
        max-width: 1024px;
    }
}

/* ## Extra Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1400px) {
    .js body {
        background-image: url('../img/2048/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/2048/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/2048/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/2048/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/2048/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/2048/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }
}
