$mdc-theme-primary: rgb(82, 31, 132);
$mdc-theme-secondary: rgb(239, 214, 164);
$mdc-theme-on-primary: #fcb900;
$mdc-theme-on-secondary: #390456;
$mdc-typography-font-family: unquote("Roboto,Rubik, Open Sans, -apple-syphonstem, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;");

$mota-theme-primary-light: rgb(183, 177, 201);
$mota-theme-primary-dark: #390456;
$mota-theme-secondary-light: rgb(252, 185, 0);
$mota-theme-secondary-dark: rgb(215, 150, 0);

@import "./normalize.css";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "@material/card/mdc-card";
@import "@material/data-table/mdc-data-table";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

body {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $mdc-typography-font-family;
}

.mdc-top-app-bar {
    color: rgb(252, 185, 0);
}
.mdc-top-app-bar__title {
    font-size: 1rem;
}

.no-js body,
.js body {
    background-image: url('../img/basico/colombia-bogota-flavia-carpio.jpg');
}

.no-js body.iceberg,
.js body.iceberg {
    background-image: url('../img/iceberg.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-dual-tone,
.js body.background-dual-tone {
    background-image: url('../img/background-dual-tone.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-edificio,
.js body.background-edificio {
    background-image: url('../img/background-edificio.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-map-points-1,
.js body.background-map-points-1 {
    background-image: url('../img/background-map-points-1.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-map-points-2,
.js body.background-map-points-2 {
    background-image: url('../img/background-map-points-2.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-map-points-3,
.js body.background-map-points-3 {
    background-image: url('../img/background-map-points-3.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.background-transparency,
.js body.background-transparency {
    background-image: url('../img/background-transparency.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-js body.credits--glass-building,
.js body.credits--glass-building {
    background-image: url('../img/basico/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
}

.no-js body.credits--cocora-valley,
.js body.credits--cocora-valley {
    background-image: url('../img/basico/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
}

.no-js body.credits--colombia-medelllin,
.js body.credits--colombia-medelllin {
    background-image: url('../img/basico/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
}

.no-js body.credits--medellin-milo,
.js body.credits--medellin-milo {
    background-image: url('../img/basico/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
}

.no-js body.credits--monserrate-jorge-gardner,
.js body.credits--monserrate-jorge-gardner {
    background-image: url('../img/basico/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
}

/* ## Credits
--------------------------------------------- */

body.credits::after {
    display: block;
    padding: 1rem;
    background-color: #000;
    bottom: 0;
    z-index: 8;
    margin: 1rem auto;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: auto;
    max-width: 360px;
    color: #fff;
    text-align: center;
}

body.credits.credits--flavia-carpio-01::after {
    content: "Fotografia por Flavia Carpo (via Unsplash)";
}

body.credits.credits--glass-building::after {
    content: "Fotografia por Joel Filipe (via Unsplash)";
}

body.credits.credits--cocora-valley::after {
    content: "Fotografia por Fernanda Fierro (via Unsplash)";
}

body.credits.credits--colombia-medelllin::after {
    content: "Fotografia por Joel Duncan (via Unsplash)";
}

body.credits.credits--medellin-milo::after {
    content: "Fotografia por Milo Ezgeer (via Unsplash)";
}

body.credits.credits--monserrate-jorge-gardner::after {
    content: "Fotografia por Jorge Gardner (via Unsplash)";
}

.mdc-card--free-content {
    padding: 16px;
}

.mdc-card--margin--1rem {
    margin: 1rem;
}

.mdc-card--margin--2rem {
    margin: 2rem;
}

.mdc-card--margin--4rem {
    margin: 4rem;
}

.hero-content {
    left: 5%;
    /*top: 35%;
    transform: translateY(-35%);*/
    background-color: $mdc-theme-primary;
    padding: 30px;
    color: #eceef2;
    box-shadow: -1px 3px 3px 0 rgba(0, 0, 0, .22);
    border: 2px solid $mdc-theme-secondary;
    margin-bottom: 20px;
    font-size: 18px;
}
.hero-content h2,
.hero-content .highlight {
    color: $mdc-theme-on-primary;
    font-size: 1.3rem;
}

.hero-content a {
    color:$mdc-theme-on-primary;
}
.hero-content a:hover {
    background-color:$mdc-theme-on-primary;
    color:#000;
}

.legal-obligations.mdc-card {
    margin: 2rem 0;
}

.legal-obligations.mdc-card code {
    padding: 0.25rem;
    font-weight: 600;
}

.compliant.mdc-card code {
    background-color: #005000;
    color: #fff;
}

.partial-compliant.mdc-card code {
    background-color: #fd0;
}

.unsufficient.mdc-card code {
    background-color: orange;
}

.not-compliant.mdc-card code {
    background-color: gray;
    color:#fff;
}

.compliant.mdc-card {
    border-left: 1rem solid rgba(0, 80, 0, 1);
    border-right: 1rem solid rgba(0, 80, 0, 1);
}
.partial-compliant.mdc-card {
    border-left: 1rem solid #fd0;
    border-right: 1rem solid #fd0;
}

.unsufficient.mdc-card {
    border-left: 1rem solid orange;
    border-right: 1rem solid orange;
}

.deficient.mdc-card {
    border-left: 1rem solid #ee3300;
    border-right: 1rem solid #ee3300;
}

.not-compliant.mdc-card {
    border-left: 1rem solid gray;
    border-right: 1rem solid gray;
}


/* ## Skip Links
--------------------------------------------- */

.skip-link {
    margin: 0;
}

.skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000;
    /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.inactive {
    display: none;
}

/* ## Main content
--------------------------------------------- */

main,
main.mdc-layout-grid {
    padding-top: 88px;
}

.mota-theme-primary-light-bg {
    background-color: $mota-theme-primary-light;
    color: $mdc-theme-on-primary;
}

.mota-theme-primary-dark-bg {
    background-color: $mota-theme-primary-dark;
    color: $mdc-theme-on-primary;
}

.mota-theme-secondary-light-bg {
    background-color: $mota-theme-secondary-light;
    color: $mdc-theme-on-secondary;
}

.mota-theme-secondary-dark-bg {
    background-color: $mota-theme-secondary-dark;
    color: $mdc-theme-on-secondary;
}

/* ## Forms and Forms Elements (input, textarea, etc)
--------------------------------------------- */


input {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}


/* ## Evaluate Form
--------------------------------------------- */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section[aria-labelledby="evaluate-header"]>p {
    margin: 0 auto;
    max-width: 90%;
    padding: 2rem 0;
}

#evaluate-form .mdc-text-field {
    -webkit-box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
    -moz-box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
    box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
    overflow: initial;
}

input#evaluate-url {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-container input[type="submit"] {
    background-color: #fcb900;
    color: #521f84;
    display: inline-block;
    font-weight: 600;
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 330px;
    /*background-color: #ffb100;
    color: #09233c;
    border: none;
    text-shadow: none;
    box-shadow: none;
    */
    -webkit-box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
    -moz-box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
    box-shadow: 5px 5px 61px -25px rgba(102, 102, 102, 1);
}


/* ## Results
--------------------------------------------- */

#results-summary-error {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 600;
}

meter {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 24px;
    height: 1.5rem;
    width: 300px;
    max-width: 100%;
}

.faux-meter {
    border: 1px solid #666;
    color: #eee;
    display: inline-block;
    font-size: 14px;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    min-width: 80px;
}

/* Webkit based browsers */

meter[value^="0"]::-webkit-meter-optimum-value,
meter[value^="0"]::-webkit-meter-suboptimum-value,
meter[value^="0"]::-webkit-meter-even-less-good-value {
    background: gray;
}

meter[value^="1"]::-webkit-meter-optimum-value,
meter[value^="1"]::-webkit-meter-suboptimum-value,
meter[value^="1"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value^="2"]::-webkit-meter-optimum-value,
meter[value^="2"]::-webkit-meter-suboptimum-value,
meter[value^="2"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="3"]::-webkit-meter-optimum-value,
meter[value^="3"]::-webkit-meter-suboptimum-value,
meter[value^="3"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="4"]::-webkit-meter-optimum-value,
meter[value^="4"]::-webkit-meter-suboptimum-value,
meter[value^="4"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value^="5"]::-webkit-meter-optimum-value,
meter[value^="5"]::-webkit-meter-suboptimum-value,
meter[value^="5"]::-webkit-meter-even-less-good-value {
    background: #fd0;
}

meter[value^="6"]::-webkit-meter-optimum-value,
meter[value^="6"]::-webkit-meter-suboptimum-value,
meter[value^="6"]::-webkit-meter-even-less-good-value {
    background: #fd0;
}

meter[value^="7"]::-webkit-meter-optimum-value,
meter[value^="7"]::-webkit-meter-suboptimum-value,
meter[value^="7"]::-webkit-meter-even-less-good-value {
    background: #fd0;
}

meter[value^="8"]::-webkit-meter-optimum-value,
meter[value^="8"]::-webkit-meter-suboptimum-value,
meter[value^="8"]::-webkit-meter-even-less-good-value {
    background: #090;
}

meter[value^="9"]::-webkit-meter-optimum-value,
meter[value^="9"]::-webkit-meter-suboptimum-value {
    background: rgb(0, 80, 0);
}

meter[value="100"]::-webkit-meter-optimum-value,
meter[value="100"]::-webkit-meter-suboptimum-value {
    background: rgb(0, 80, 0);
}

meter[value="1"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-suboptimum-value,
meter[value="1"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="2"]::-webkit-meter-optimum-value,
meter[value="2"]::-webkit-meter-suboptimum-value,
meter[value="2"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="3"]::-webkit-meter-optimum-value,
meter[value="3"]::-webkit-meter-suboptimum-value,
meter[value="3"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="4"]::-webkit-meter-optimum-value,
meter[value="4"]::-webkit-meter-suboptimum-value,
meter[value="4"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="5"]::-webkit-meter-optimum-value,
meter[value="5"]::-webkit-meter-suboptimum-value,
meter[value="5"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="6"]::-webkit-meter-optimum-value,
meter[value="6"]::-webkit-meter-suboptimum-value,
meter[value="6"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="7"]::-webkit-meter-optimum-value,
meter[value="7"]::-webkit-meter-suboptimum-value,
meter[value="7"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="8"]::-webkit-meter-optimum-value,
meter[value="8"]::-webkit-meter-suboptimum-value,
meter[value="8"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="9"]::-webkit-meter-optimum-value,
meter[value="9"]::-webkit-meter-suboptimum-value,
meter[value="9"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="20"]::-webkit-meter-optimum-value,
meter[value="20"]::-webkit-meter-suboptimum-value,
meter[value="20"]::-webkit-meter-even-less-good-value {
    background: #ee3300;
}

meter[value="50"]::-webkit-meter-optimum-value,
meter[value="50"]::-webkit-meter-suboptimum-value,
meter[value="50"]::-webkit-meter-even-less-good-value {
    background: orange;
}

meter[value="80"]::-webkit-meter-optimum-value,
meter[value="80"]::-webkit-meter-suboptimum-value,
meter[value="80"]::-webkit-meter-even-less-good-value {
    background: #fd0;
    ;
}

meter[value^="0"]::-moz-meter-bar {
    background: gray;
}

meter[value^="1"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value^="2"]::-moz-meter-bar {
    background: orange;
}

meter[value^="3"]::-moz-meter-bar {
    background: orange;
}

meter[value^="4"]::-moz-meter-bar {
    background: orange;
}

meter[value^="5"]::-moz-meter-bar,
meter[value^="6"]::-moz-meter-bar,
meter[value^="7"]::-moz-meter-bar {
    background: #fd0;
}

meter[value^="8"]::-moz-meter-bar {
    background: rgb(0, 80, 0);
}

meter[value^="9"]::-moz-meter-bar {
    background: rgb(0, 80, 0);
}

meter[value="100"]::-moz-meter-bar {
    background: rgb(0, 80, 0);
}

meter[value="1"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="2"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="3"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="4"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="5"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="6"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="7"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="8"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="9"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="20"]::-moz-meter-bar {
    background: #ee3300;
}

meter[value="50"]::-moz-meter-bar {
    background: orange;
}

meter[value="80"]::-moz-meter-bar {
    background: #fd0;
}

.faux-meter[data-gradePoints^="0"] {
    background: gray;
    color: #000;
}

.faux-meter[data-gradePoints^="1"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints^="2"] {
    background: orange;
    color: #000;
}

.faux-meter[data-gradePoints^="3"] {
    background: orange;
    color: #000;
}

.faux-meter[data-gradePoints^="4"] {
    background: orange;
    color: #000;
}

.faux-meter[data-gradePoints^="5"],
.faux-meter[data-gradePoints^="6"],
.faux-meter[data-gradePoints^="7"] {
    background: #fd0;
    color: #000;
}

.faux-meter[data-gradePoints^="8"] {
    background: rgb(0, 80, 0);
}

.faux-meter[data-gradePoints^="9"] {
    background: rgb(0, 80, 0);
}

.faux-meter[data-gradePoints="100"] {
    background: rgb(0, 80, 0);
}

.faux-meter[data-gradePoints="1"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="2"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="3"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="4"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="5"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="6"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="7"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="8"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="9"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="20"] {
    background: #ee3300;
}

.faux-meter[data-gradePoints="50"] {
    background: orange;
    color: #000;
}

.faux-meter[data-gradePoints="80"] {
    background: #fd0;
    color: #000;
}

details {
    display: block;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px dotted #ddd;
}
summary {
    font-weight: 600;
}

.results-content.no-results p {
    display:none;
}

.results-content details div {
    padding: 1rem;
    justify-content: space-between;
}

.results-criteria {
    margin-bottom: 1rem;
    padding: 1rem 1rem 2rem 1rem;
}

.results-criteria:nth-of-type(2n+1) {

    background-color:

        #eee;

}
.results-criteria h3 {

    border-bottom: 1px solid #666;
    margin: 0.25rem 0 2rem 0;
    padding: 0.25rem 0;

}
.results-criteria--tags {
    float: right;
}
.results-criteria-type {
    background-color: #666;
    border: 1px solid #666;
    color: #eee;
    display: inline-block;
    font-size: 14px;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
    min-width: 180px;
}

.results-criteria-type.results-criteria-type--recommendation {
    background-color: rgb(107, 75, 248);
}

.results-criteria table {
    min-width: 200px;
    padding: 0 1rem;

    border-left: 1px solid #000;

    text-align: left;
}

.results-criteria thead {
    display: none;
}

/* ## Utilities
--------------------------------------------- */

/* # Media Queries
---------------------------------------------------------------------------------------------------- */

/* ## Small Smartphones only
--------------------------------------------- */
@media only screen and (max-width: 640px) {
    .hide-on-small {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
}
/* ## Tablet
--------------------------------------------- */
@media only screen and (min-width: 640px) {

    .mdc-top-app-bar__title {
        font-size: 1.25rem;
    }

    main {
        max-width: 90%;
    }

    .results-content details div {
        display: flex;
    }
}

/* ## Tablets + Small Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-height: 880px) and (orientation : portrait), only screen and (min-width: 880px) {
    .js body {
        background-image: url('../img/1024/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1024/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/1024/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/1024/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/1024/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/1024/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }

}

/* ## Small Desktops and Laptops on
--------------------------------------------- */
@media only screen and (min-width: 880px) {

}

/* ## Medium Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1024px) {
    main {
        max-width: 80%;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }

}

/* ## Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .js body {
        background-image: url('../img/1280/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/1280/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/1280/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/1280/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/1280/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/1280/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }

    main {
        max-width: 1200px;
    }
}

/* ## Extra Large Desktops and Laptops
--------------------------------------------- */
@media only screen and (min-width: 1400px) {
    .js body {
        background-image: url('../img/2048/colombia-bogota-flavia-carpio.jpg');
    }

    .js body.credits--glass-building {
        background-image: url('../img/2048/glass-building-madrid-joel-filipe-jU9VAZDGMzs-unsplash.jpg');
    }

    .js body.credits--cocora-valley {
        background-image: url('../img/2048/cocora-valley-fernanda-fierro-XV4XUU7gWlk-unsplash.jpg');
    }

    .js body.credits--colombia-medelllin {
        background-image: url('../img/2048/colombia-medelllin-joel-duncan-Iqa-WlbNjqs-unsplash.jpg');
    }

    .js body.credits--medellin-milo {
        background-image: url('../img/2048/medellin-milo-miloezger-pNArDGC_aNY-unsplash.jpg');
    }

    .js body.credits--monserrate-jorge-gardner {
        background-image: url('../img/2048/monserrate-jorge-gardner-Exjq06SLhl4-unsplash.jpg');
    }
}
